:root{
    --color-start: #ffa678;
    --color-end: transparent;
    --scroll:0;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 2000px;
}

.process-bar{
    width: 100%;
    height: 10px;
    position: fixed;
    background: linear-gradient( to right,  var(--color-start) var(--scroll), var(--color-end) 0%);
}